.dashboard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.main-content {
  flex: 50%;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
}

.sidebar-item:hover .dropdown-menu {
    display: block;
}
/* Reset default margin and padding */
body, ul {
  margin: 0;
  padding: 0;
}

/* Sidebar styles */
.sidebar {
  background-color: #333;
  color: #fff;
  width: 200px;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.sidebar .dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
/* .dropdown{
  display: flex;
  flex-direction: column;
} */

.dropdown-content a {
  display: block;
  padding: 5px 10px;
}
.dropdown-content {
  display: none;
  transform: translateY(-100%);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.animate {
  animation-name: dropdownAnimation;
}

@keyframes dropdownAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}


/* Content area styles */
.content {
  padding: 20px;
}

/* Show dropdown content on hover */
.dropdown:focus .dropdown-content {
  display: block;
}

.button{
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.positive{
  background-color: #2ecc71;
  color: #fff;
}
.negative{
  background-color: #e74c3c;
  color: #fff;
}

.positive:hover{
  background-color: #27ae60;
}

.negative:hover{
  background-color: #c0392b;
}

