.comapany__container {
    background: var(--color-background-variant);
    margin-bottom: 80px;
    padding: 20px;
}

.comapany__container h2 {
    text-align: center;
    font-size: 32px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.company_registration {
    text-align: center;
}

.register_input {
    padding: 8px 10px;
    font-size: 15px;
    letter-spacing: 0.8px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background: var(--color-background);
}

.register_input_full {
    width: 605px;
}

.submit {
    font-size: 20px;
}
.doc_file{
    display: flex;
    flex-direction: column;
}