footer {
    background: #303030;
    color: #fff;
}
.footer__container {
    display: grid;
    grid-template-columns: 2.5fr 2fr 2fr 1fr;
    padding: 45px 0;
}
.first h5{
    text-transform: capitalize;
    font-weight: 400;
    color: var(--color-gray);
}
.footer__list li a{
    color: var(--color-gray);
    font-size: 15px;
}
.about__link:hover{
    margin-left: .5rem;
}
.footer-logo{
    color: #fff !important;
}