/* MostMomentum and MostFunded css are same */
.momentum__section{
    background: #f3f3f3;
}

.mostfunded__section{
    background: var(--color-white);
}
.mostfunded__container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}
.mostfunded__container h2{
    text-transform: capitalize;
}
.mostfunded__container h5{
    margin-bottom: 2rem;
}

.card__image{
    width: 350px;
    height: 250px;
    object-fit: contain;
    
}
.card__tag{
    position: relative;
    top: 250px;
    left: -10px;
    text-align: -webkit-right;
    border-radius: 5px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 20px;
    color: crimson;
    font-weight: 500;
    font-size: inherit;
    background: #f4f3ee;
    padding: 5px 20px;
}

.card h3{
    font-size: 14px ;
}
.company-name{
    color:#22223b;
    font-weight: 600;
    font-size: 16px;
}
.desc{
    font-size: 11px;
    color: var(--color-gray);
    margin-top: -5px;
    font-weight: 400;
}
.info{
    font-size: 13px;
    color: var(--color-info);
    background-color: var(--color-info-bg);
    font-weight: 400;
    opacity: 0.8;
    padding: 3px 5px;
    border: 1px dotted var(--color-info);
    border-radius: 5px;
}
.info i{
    font-size: 15px;
    margin: 2px 5px;
    padding-top: 5px;
    border: none;

}
.info > strong > i{
    font-weight: 500;
}

.card__score{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.card__score > * {
    text-align: center;
}

.cards{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

.card{
    margin: 1rem 1.5rem;
    padding: auto;
}
.division{
    margin-bottom: 3rem;
}
.division p{
    color: var(--color-gray);
    font-size: 15px;
}