.otp__section{
}
.otp__container{
    padding: 3rem;
}
.otp__box{
    width: 800px;
    /* border: 1px solid black; */
    background: var(--color-gray-variant);
    margin: 0 auto;
    padding: 2rem;
}
.otp{
    text-align: center;
}
.error_otp{
    background: var(--color-bg);
    color: var(--color-red);
    font-size: 15px;
    margin-top: 1rem;
}
.otp_message{
    width: 100%;
    background: var(--color-bg);
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 15px;
    margin-bottom: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.otp__input{
    width: 20rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    padding: .3rem 1rem;
    font-size: 18px;
    background: var(--color-bg);
    border: none;
    border-radius: 7px;
}