.otp__section{
    margin-bottom: 4rem;
}
.otp__container{
    padding: 3rem;
}
.otp__box {
    width: 800px;
    /* border: 1px solid black; */
    background: var(--color-background);
    margin: 0 auto;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.otp{
    text-align: center;
}
.error_otp{
    background: var(--color-bg);
    color: var(--color-red);
    font-size: 15px;
    margin-top: 1rem;
}
.otp_message{
    width: 100%;
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 15px;
    margin-bottom: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.otp__input {
    width: 20rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    padding: .3rem 1rem;
    font-size: 18px;
    background: var(--color-background-variant);
    border: 1px solid var(--color-gray);
    border-radius: 7px;
	text-align: center;
}