@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  outline: none;
  list-style: none;

  overflow-x: hidden;
}

:root {

  --color-blue: #007BFF;
  --color-blue-variant: #2372c7;
  --color-gray: #6C757D;
  --color-red: #DC3545;
  --color-bg: #D5F5FD;
  --color-light-gray: #B7BDBE;
  --color-dark: #000;
  --color-white: #fff;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.7;
  /* background: red; */
}

/* ===================== GENERAL STYLES ========================= */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4{
  font-weight: 500;
}

h5{
  color: var(--color-gray);
  font-size: 15px;
  font-weight: 400;
  margin-top: -10px;
}

h1 {
  font-size: 2.5rem;
}

section {
  /* margin-top: 6rem; */
  padding-top: 1rem;
  /* margin-bottom: 5rem; */
  /* padding-bottom: 3rem; */
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-dark);
  transition: var(--transition);
  font-size: 18px;
}

a:hover {
  /* color: var(--color-white); */
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-white);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  background: var(--color-blue);

}

.btn:hover {
  color: var(--color-white);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.mt-20{
  margin-top: 20px;
}
.mb-20{
  margin-bottom: 20px;
}


/* =========================== FONTS ================================ */
.f-13{
  font-size: 13px;
}
/* =========================== COLORS ================================ */
.gray{
  color: var(--color-gray);
}
/* =========================== MEDIUM DEVICES =============================== */
@media screen and (max-width: 768px) {
  .container {
    width: var(--container-width-md);
  }

  .section {
    margin-top: 6rem;
  }
}

/* =========================== SMALL DEVICES =============================== */
@media screen and (max-width: 640px) {
  .container {
    width: var(--container-width-sm);
  }

  .section>h2 {
    margin-bottom: 2rem;
  }
}