.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: 'Mogra', cursive;
    font-size: 44px;
}
.hover_none:hover{
    color: var(--color-dark);
}
.search{
    display: flex;
}
.search input{
    width: 270px;
    height: 40px;
    padding: 5px 10px;
    outline: none;
    font-size: 15px;
    position: relative;
}
.search__icon{
    /* padding: 5px; */
    width: 35px;
    height: 40px;
    background: var(--color-blue);
    color: #fff;
    cursor: pointer;
    border: none;
    /* margin-left: -20px; */
    /* z-index: 99; */
    position: absolute;
}
