.full__width{
    background-color: #303030;
}
.nav__container{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}
.left ul{
    display: flex;
    gap: 15px;
}
.right ul{
    display: flex;
    gap: 15px;
}