
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sanolagani</title>

	<head th:replace="fragment/head.html :: headerfiles"></head>
	<link rel="stylesheet" href="css/dashboard.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
</head>

<body>
	<header class='container header__container' th:replace="fragment/header.html :: header"></header>
		<div class='full__width' th:insert="fragment/nav.html :: navbar"> </div>
 <section>
    <center><h1 > Collateral summary</h1></center>
    <table id="customers">
        <tr>
            <th>Username</th>
            <th>amount</th>
            <th>transfer date</th>
            <th>token</th>
            <th>type</th>
            
        </tr>
        <tr th:each="transaction: ${transactionlist}">
            <td> <a th:text="${name}"></a></td>
            <td> <a th:text="${transaction.amount}"></a></td>
            <td>
                <p th:text="${transaction.transaction_date_time}"></p>
            </td>
            <td>
                <p th:text="${transaction.payment_token}"></p>
            </td>
            <td>
                <p th:text="${transaction.transaction_type}"></p>
            </td>
        </tr>
    </table>
</section>
</body>

</html>