<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragment/head.html :: headerfiles"></head>
<body>
  <header class='container header__container' th:replace="fragment/header.html :: header"></header>
  <div class='full__width' th:insert="fragment/nav.html :: navbar"> </div>

  <div class="container home__conatiner">
    <div class="home__left">
      <div class="heading__info">
        <h1>Invest in <span th:text="${company.companyname}"/></h1>
        <h5 class='gray'>193 people have already invested 2,700,000+ in [[${company.companyname}]].</h5>
      </div>
      <div th:if="${status eq 'on limit'}">
        <a th:href="@{'/company/details/'+${company.id}+'/'}" class='btn mt-20 mb-20'> Invest Now</a>
      </div>
      <div th:if="${status eq 'limit reached'}">
		    <p>you have already invested up to maximum quantity</p> 
	    </div>
	    <div th:if="${status eq 'time finish'}">
		    <p>investment for this company has closed</p> 
	    </div>
      <div class="full__width" style="margin: 30px 0;">
        <nav class='container nav__container'>
          <div class="left">
              <ul>
                <li><a href="#company-details"  class="nav-link-sm-text">Details</a></li>
                <li><a th:href="@{/companyregister}" class="nav-link-sm-text">Documents</a></li>
                <li><a th:href="@{/company}" class="nav-link-sm-text">Success Stories</a></li>
                <li><a href="#management-teams" class="nav-link-sm-text">Management</a></li>
                <li><a href="#" class="nav-link-sm-text">More Information</a></li>
              </ul>
          </div>
        </nav>
      </div>

      <h3 id='company-details'>Company Details</h3>
      <p class='gray f-13'>This Reg A+ offering is made available through Sanolagani Primary.
        This investment is speculative, illiquid, and involves a high degree of
        risk, including possible loss of your entire investment. For more
        information about this offering, please view <span th:text="${company.companyname}"/>’s Offering Circular
        and Related Risks. In addition, as described in the Offering Circular,
        the Company retains the right to continue the offering beyond the Termination Date.
        in its sole discretion.</p>

        <h3 id='management-teams'>Management Team</h3>
          <table class="bod">
            <thead>
                <th>Management Team</th>
                <th>Position</th>
                <th>Social</th>
            </thead>
            <!-- <tr th:each="management : ${company.managements}">
              <td th:text="${management.name}"></td>
              <td th:text="${management.position}"></td>
              <td><a th:href="${management.linkedin}">LinkedIn</a></td>
            </tr> -->
            <tbody>
              <tr>
                <td>Mr. Keshab Kumar Basnet</td>
                <td>Chairman</td>
                <td><a href="#">LinkedIn</a></td>
              </tr>
              <tr>
                <td>Bishnu Prasad Bhusal</td>
                <td>Under Secretary</td>
                <td><a href="#">LinkedIn</a></td>
              </tr>
              <tr>
                <td>Mr. Raj Kumar Khatiwada</td>
                <td>Board of Director</td>
                <td><a href="#">LinkedIn</a></td>
              </tr>
              <tr>
                <td>Mr. Devi Prasad Baral</td>
                <td>Board of Director</td>
                <td><a href="#">LinkedIn</a></td>
              </tr>
              <tr>
                <td>Mr. Lil Bahadur Basnet</td>
                <td>Board of Director</td>
                <td><a href="#">LinkedIn</a></td>
              </tr>
              <tr>
                <td>Mr. Kuber Prasad Rai</td>
                <td>Board of Director</td>
                <td><a href="#">LinkedIn</a></td>
              </tr>
              <tr>
                <td>Mr Ramesh Chaudhary</td>
                <td>Board of Director</td>
                <td><a href="#">LinkedIn</a></td>
              </tr>
            </tbody>
          </table>
        </h3>
    </div>


    <div class="home__right" style="min-height: 60vh;">
      <img th:src="@{'/documents/' + ${company.id} + '/' + ${company.image}}" alt="heading" />
    </div>
  </div>
  <!-- Footer -->
  <footer th:insert="fragment/footer.html :: footer">

  </footer>
</body>
</html>