<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragment/head.html :: headerfiles"></head>

<body>
  <header class='container header__container' th:replace="fragment/header.html :: header"></header>
  <div class='full__width' th:insert="fragment/nav.html :: navbar"> </div>

  <div class="container home__conatiner">
    <div class="home__left">
      <div class="heading__info">
        <h1>Invest in <span th:text="${company.companyname}" /></h1>
        <h5 class='gray'>193 people have already invested 2,700,000+ in [[${company.companyname}]].</h5>
      </div>
      <div th:if="${status eq 'on limit'}">
        <a th:href="@{'/company/details/'+${company.id}+'/'}" class='btn mt-20 mb-20'> Invest Now</a>
      </div>
      <div th:if="${status eq 'limit reached'}" class="message-maximum-invested">
		    <p>You have reached your maximum investment quantity. Thank you for being part of us.</p> 
	    </div>
	    <div th:if="${status eq 'time finish'}">
		    <p>investment for this company has closed</p> 
	    </div>
      <div class="full__width" style="margin: 30px 0;">
        <nav class='container nav__container'>
          <div class="left">
              <ul>
                <li><a href="#company-details"  class="nav-link-sm-text link">Details</a></li>
                <li><a href="#documents" class="nav-link-sm-text link">Documents</a></li>
                <li><a href="#success-stories" class="nav-link-sm-text link">Success Stories</a></li>
                <li><a href="#management-teams" class="nav-link-sm-text link">Management</a></li>
                <li><a href="#" class="nav-link-sm-text link">More Information</a></li>
              </ul>
          </div>
        </nav>
      </div>
      <br/>
      <h1 id='company-details'>Company Details</h1>
      <div th:each="article : ${articles}">
        <div class="article">
          <h2 th:text="${article.title}"></h2>
          <hr/>
          <span th:text="${article.getAuthored_date_time()}"></span>
          <hr/>
          <div>[(${article.getFull_text()})]</div>
        </div>
        <br/><br/><br/>
      </div>
        <br/>
        <h1 id='management-teams'>Management Team</h1>
          <table class="bod">
            <thead>
                <th>Management Team</th>
                <th>Position</th>
                <th>Social</th>
            </thead>
            <!-- <tr th:each="management : ${company.managements}">
              <td th:text="${management.name}"></td>
              <td th:text="${management.position}"></td>
              <td><a th:href="${management.linkedin}">LinkedIn</a></td>
            </tr> -->
            <tbody>
              <tr>
                <td>Mr. Keshab Kumar Basnet</td>
                <td>Chairman</td>
                <td><a href="#">LinkedIn</a></td>
              </tr>
              <tr>
                <td>Bishnu Prasad Bhusal</td>
                <td>Under Secretary</td>
                <td><a href="#">LinkedIn</a></td>
              </tr>
              <tr>
                <td>Mr. Raj Kumar Khatiwada</td>
                <td>Board of Director</td>
                <td><a href="#">LinkedIn</a></td>
              </tr>
              <tr>
                <td>Mr. Devi Prasad Baral</td>
                <td>Board of Director</td>
                <td><a href="#">LinkedIn</a></td>
              </tr>
              <tr>
                <td>Mr. Lil Bahadur Basnet</td>
                <td>Board of Director</td>
                <td><a href="#">LinkedIn</a></td>
              </tr>
              <tr>
                <td>Mr. Kuber Prasad Rai</td>
                <td>Board of Director</td>
                <td><a href="#">LinkedIn</a></td>
              </tr>
              <tr>
                <td>Mr Ramesh Chaudhary</td>
                <td>Board of Director</td>
                <td><a href="#">LinkedIn</a></td>
              </tr>
            </tbody>
          </table>
        <br/><br/><br/>
        <h3 id='documents'>Documents</h3>
        <div class="news">
          <table class="news-table">
            <tbody>
              <tr class="news-row">
                  <td class="news-data-date">
                    <a href="#">May 7, 2023<br>
                    <img src="./images/voklagyo.png" alt="img" class="doc-img">
                  </td>
  
                  <td class="news-data-event">
                    <a href="#">News goes here</a>
                  </td>
              </tr>
              <tr class="news-row">
                  <td class="news-data-date">
                    <a href="#">May 7, 2023<br>
                    <img src="./images/voklagyo.png" alt="img" class="doc-img">
                  </td>
                  <td class="news-data-event">
                    <a href="#">News goes here</a>
                  </td>
              </tr>
              <tr class="news-row">
                  <td class="news-data-date">
                    <a href="#">May 7, 2023<br>
                      <img src="./images/voklagyo.png" alt="img" class="doc-img">
                    </td>
  
                  <td class="news-data-event">
                    <a href="#">News goes here</a>
                  </td>
              </tr>
            </tbody>
          </table>
      </div>
      <br/><br/><br/>
        <h3 id='success-stories'>Success Stories</h3>
    </div>


    <div class="home__right" style="min-height: 60vh;">
      <a href="#" class="btn btn__primary"><i class="fa-regular fa-heart"></i>&nbsp;Add to watchlist</a><br/><br/>
      <img th:src="@{'/documents/' + ${company.id} + '/' + ${company.image}}" alt="heading" />
    </div>
  </div>
  <!-- Footer -->
  <footer th:insert="fragment/footer.html :: footer">

  </footer>
</body>

</html>