<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/head.html :: headerfiles"></head>

<body>
  <header class='container header__container' th:replace="fragment/header.html :: header"></header>

  <div class='full__width' th:insert="fragment/nav.html :: navbar"></div>

  <!-- All Companies -->
  <section class='mostfunded__section'>
    <div class="container mostfunded__container">

      <h2>Companies</h2>
        <div class="dropdown">
          <p class="button" onclick="toggleElements()">
            Filter By Sector&nbsp;
            <i class="fa-solid fa-plus" id="symbol"></i>
          </p>
          <div class="toggle-list" id="toggle-elements">
            <div class="dropdown-content" th:each="sector : ${sectorlist}">
              <a href="#" class="dropdown-list">[[${sector}]]</a>
            </div>
          </div>
        </div>
        </div>
      
      <div class="cards row">

        <div class="card " th:each="company : ${companies}">
          <div th:replace="fragment/company-card.html :: card"></div>
        </div>
      </div>
    </div>
  </section>
  <footer th:insert="fragment/footer.html :: footer"></footer>
  <script>
    function toggleElements() {
      var name = document.getElementById("symbol");

      document.getElementById("toggle-elements").classList.toggle("show");
      name.className = (name.className === "fa-solid fa-plus" ? "fa-solid fa-minus" : "fa-solid fa-plus");
      
    }
  </script>
</body>
</html>