<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragment/head.html :: headerfiles"></head>
<body>
  <header class='container header__container' th:replace="fragment/header.html :: header"></header>
  <div class='full__width' th:insert="fragment/nav.html :: navbar"> </div>

  <div class="container home__conatiner">
    <div class="home__left">
      <div class="heading__info">
        <h1>Invest in Voklagyo</h1>
        <h5 class='gray'>Feeding the distanced customer with taste.</h5>
      </div>

      <a href="#" class='btn mt-20 mb-20'> Invest Now</a>

      <p class='gray f-13'>This Reg A+ offering is made available through Sanolagani Primary.
        This investment is speculative, illiquid, and involves a high degree of
        risk, including possible loss of your entire investment. For more
        information about this offering, please view Bhoklagyo’s Offering Circular
        and Related Risks. In addition, as described in the Offering Circular,
        the Company retains the right to continue the offering beyond the Termination Date.
        in its sole discretion.</p>
    </div>
    <div class="home__right">
      <img th:src="@{'/photos/voklagyoHome.png'}" alt="heading" />
    </div>
  </div>
  <!-- Footer -->
  <footer th:insert="fragment/footer.html :: footer">

  </footer>
</body>
</html>