<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/head.html :: headerfiles"></head>

<body>
  <header class='container header__container' th:replace="fragment/header.html :: header"></header>

  <div class='full__width' th:insert="fragment/nav.html :: navbar"></div>

  <!-- All Companies -->
  <section class='mostfunded__section'>
    <div class="container mostfunded__container">
      <h2>Companies</h2>
      <div class="cards row">

        <div class="card " th:each="company : ${companies}">
          <!--					<span th:text="${company.previouslyraisedcapital}"></span>-->
          <a th:href="@{/company/{id}/ (id=${company.id})}">
            <img th:src="@{../documents/{id}/{image} (image=${company.image}, id= ${company.id})}"
                 class='card__image' alt="card-image" />
            <h3 th:text="${company.companyname}" />
          </a>
          <p class='desc'>The palstic that completely disintegrate...</p>

          <div class="card__score">
            <div class="raised">
              <h3>Rs. [[${#numbers.formatInteger(company.previouslyraisedcapital, 3, 'COMMA')}]]</h3>
              <p class='desc'>Capital To Raise</p>
            </div>
            <div class="investers">
              <h3>400</h3>
              <p class='desc'>Price per Unit</p>
            </div>
            <div class="min__investment">
              <h3 th:text="${company.maximum_quantity}" />
              <p class='desc'>Max. Quantity</p>
            </div>
          </div>

          <div class="division">
            <p>Reg CF via Sanolagani Capital, Ltd.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer th:insert="fragment/footer.html :: footer"></footer>
</body>
</html>