<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>

  <title>View Users</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/viewpage.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/admindashboard.css}"></head>
<body>
	
  <div class="dashboard">
    <div class="sidebar">
      <h2>Dashboard</h2>
      <ul th:insert="fragment/admin-dashboard.html :: dashboard-left"></ul>
    </div>
    <table>
      <tr>
		<th>Company Id</th>
        <th>Company Name</th>
        <th>Total Raised Share</th>
        <th>Total Raised Amount</th>
        <th>Total User Invested</th>
        <th>Total Applied Share</th>
        <th>Total Applied Amount</th>
        
      </tr>
      <tr th:each="company: ${company_list}">
		     <td>[[${company.id}]]</td>
             <td>[[${company.companyname}]]</td>
        	 <td>[[${#numbers.formatInteger(company.previouslyraisedcapital / company.price_per_share, 3, 'COMMA')}]]</td>  
        	 <td>Rs. [[${#numbers.formatInteger(company.previouslyraisedcapital, 3,'COMMA')}]]</td>
        	 <td>[[${totalUsersInvestedMap.get(company.getCompanyname())}]]</td>
        	 <td>[[${totalApplyShareMap.get(company.getCompanyname())}]]</td>
        	 <td>[[${#numbers.formatInteger(totalApplyShareMap.get(company.getCompanyname()) * company.price_per_share,3,'COMMA')}]]</td>

      </tr>
      <!-- Add more user rows here -->
    </table>
  </div>
</body>
</html>
