<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragment/head.html :: headerfiles">
	<title>Register Company</title>
	
</head>

<body>
	<!-- header -->
	<header class='container header__container'>
		<div>
			<h1>
				<a href="/" class='logo hover_none'>Sanolagani</a>
			</h1>
		</div>
		<!-- <div class='search'>
            <form method="get">
                <input type="search" name="search" placeholder='Search' id="" />
                <button type="submit" class="search__icon"><i
                        class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div> -->
	</header>
	<div class='full__width' th:insert="fragment/nav.html :: navbar">
	</div>

	<!-- Company Registration -->
	<section class="company">
		<div class="container comapany__container">
			<h2>Register your company</h2>
			<p class="error" th:text="${error}"></p>
			<form th:action="@{/companyverify}" th:object="${un_company}" class="company_registration" method="POST"
				enctype="multipart/form-data">
				<div class="register-row">
					<input class="register_input" type="text" placeholder="First Name" name="fname" th:field="*{fname}">
					<input class="register_input" type="text" placeholder="Last Name" name="lname" th:field="*{lname}">
				</div>

				<div class="register-row">
				<input class="register_input" type="text"
					placeholder="Company Name" name="companyname"
					th:field="*{companyname}">
				<input class="register_input" type="text"
					placeholder="Company Adress" name="address">	
					</div>

				<div class="register-row">
					<input class="register_input" type="email" placeholder="Company Email" name="email"
						th:field="*{email}">
					<input class="register_input" type="number" placeholder="Company Number" name="phnum"
						th:field="*{phnum}">
				</div>
				<div class="register-row">
					<input class="register_input" type="text" placeholder="Website URL" name="websiteurl" th:field="*{websiteurl}">
					<input class="register_input" type="number" placeholder="Capital To Raise" name="raisedcapital" th:field="*{raisedcapital}">
				</div>
				<div class="register-row">
					<input class="register_input" type="text" placeholder=" sector" name="sector" th:field="*{sector}">
					<input class="register_input" type="number" placeholder=" maximum quantity" name="maximum_quantity">
				</div>

				<div class="register-row">
					<input class="register_input" style="margin-left: 65px;" type="text" placeholder="Time Span For Raising Capital" name="timespanforraisingcapital"
						   th:field="*{timespanforraisingcapital}">
					<input class="register_input" type="number" placeholder="Price per Unit" name="price_per_share">
					<br>
				</div>

				<br>
				<div class="register-document">
					<div>
						<label for="companypanimg">Company image</label>
						<input class="upload-doc" id="companypanimg" type="file" placeholder="Company image"
							name="com_image">
					</div>


					<div>
						<label for="pdfFile" >Company Document PDF including tax clearance: </label>
						<input class="upload-doc" id="pdfFile" type="file" placeholder="Company PDF" name="pdfFile">
					</div>
					<div>
						<label for="companypan">Company PAN Card/VAT Card: </label>
						<input class="upload-doc" id="companypan" type="file" placeholder="CompanyPDF" name="companypan" />
					</div>

					<div>
						<label for="citizen_front">Citizen Front:</label>
						<input class="upload-doc" id="citizen_front" type="file" placeholder="Citizen Front" name="citizen_front">
					</div>

					<div>
						<label for="citizen_back">Citizen Back:</label>
						<input class="upload-doc" id="citizen_back" type="file" placeholder="Citizen Back" name="citizen_back" />
					</div>
				</div>

				<div>
					<textarea name="description" id="description" cols="30" rows="10" placeholder="Description"></textarea>
				</div>
				<button type="submit" class="btn sumbit">Submit</button>

			</form>
		</div>
	</section>

	<!-- Footer -->
	<footer>
		<footer th:insert="fragment/footer.html :: footer"> </footer>
	</footer>
	<script src="https://cdn.tiny.cloud/1/e3z2ecxasuxnyu4ybjuj9s5enkf3rd5nn7dddrh78hparzr6/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 	'accordion anchor autolink charmap codesample emoticons image link lists media searchreplace table \
						visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker \
						tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes \
						mergetags autocorrect typography inlinecss lists autosave',
			toolbar: 	'accordion undo redo checklist numlist bullist indent outdent | \
						restoredraft blocks fontfamily fontsize | \
						bold italic underline align| \
						link image media table | \
						addcomment showcomments | \
						spellcheckdialog a11ycheck typography | \
						emoticons charmap | \
						removeformat',
			menubar: 'file edit view insert format tools table',
			tinycomments_mode: 'embedded',
			tinycomments_author: 'Author name',
			min_height: 600,
			advlist_bullet_styles: 'circle',
			advlist_number_styles: 'lower-alpha,lower-roman,upper-alpha,upper-roman',
			default_link_target: '_blank',
			autosave_interval: '20s',
			font_size_formats: '8pt 10pt 12pt 14pt 16pt 18pt 24pt 36pt 48pt',
			skin: (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'oxide-dark' : 'oxide'),
  			content_css: (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'default')
		});
	</script>
	
</body>

</html>

