<!DOCTYPE html>
<html>
<head>
    <title>Sidebar Example</title>
    <link rel="stylesheet" href="css/companydashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

   <div class="container">
    <div class="sidebar">
        <ul>
            <li><a href="#" class="active">Dashboard</a></li>
            <li><a th:href="@{/company/investment/details}">Investment Details</a></li>
            <li><a href="#">Shareholder Management</a></li>
            <li><a href="#">Financial Performance</a></li>
            <li><a href="#">Documents and Reports</a></li>

            <li th:if="${unread != 0}"><a th:href="@{/notification}">Notification<span class="notification-count">[[${unread}]]</span></a></li>
            <li th:unless="${unread != 0}"><a th:href="@{/notification}">Notification</a></li>

            <li><a th:href="@{/logout}">Setting and Account Management</a></li>
        </ul>
    </div>
    <div class="chart-container">
      <canvas id="lineChart"></canvas>
    </div>
  </div>
  
  
   <script input th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
      // Line Chart data
      var chartData = {
        labels: [[${labels}]],
        datasets: [
          {
            label: "Investment Amount",
            data: [[${investedamount}]],
        	backgroundColor: "rgba(255, 99, 132, 0.2)",
        	borderColor: "rgba(255, 99, 132, 1)",
        	borderWidth: 1,
        	fill: "+2"
          },
          {
            label: "User Acquisition",
        	data: [[${totaluseracquisition}]],
       		backgroundColor: "rgba(255, 205, 86, 0.2)",
       		borderColor: "rgba(255, 205, 86, 1)",
       		borderWidth: 1,
        	fill: true
          },
          {
            label: "Traffic",
        	data: [[${trafficvalues}]],
        	backgroundColor: "rgba(54, 162, 235, 0.2)",
        	borderColor: "rgba(54, 162, 235, 1)",
        	borderWidth: 1,
       		fill: true
          }
        ]
      };
      
      // Line Chart options
      var chartOptions = {
        responsive: true,
        title: {
          display: true,
          text: "Company Metrics"
        },
        scales: {
          x: {
            display: true,
            scaleLabel: {
              display: true,
              labelString: "Month"
            }
          },
          y: {
            display: true,
            scaleLabel: {
              display: true,
              labelString: "Value"
            }
          }
        }
      };
      
  var canvas = document.getElementById("lineChart");
      var ctx = canvas.getContext("2d");
      var lineChart = new Chart(ctx, {
        type: "line",
        data: chartData,
        options: chartOptions
      });
    });
  </script>
</body>
</html>
