
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanolagani</title>

    <head th:replace="fragment/head.html :: headerfiles"></head>
    <link rel="stylesheet" href="css/dashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
</head>

<body>
<header class='container header__container' th:replace="fragment/header.html :: header"></header>
<div class='full__width' th:insert="fragment/nav.html :: navbar"> </div>

<!-- Dashboard -->
<section class="dashboard">
    <div class=" dashboard__container">
        <div class="left__dashboard board">
            <div>
                <a href="#">Sanolagani Dashboard</a>
                <a href="#">My Information</a>
                <div class="dropdown">
                    <button onclick="fundManagement()" class="drop-btn">Fund Management</button>
                    <div id="fundManagement" class="fundManagementContent">
                        <a href="#"><i class="fa-sharp fa-solid fa-arrow-right"></i>&nbsp;Collateral Management</a>
                        <a href="#"><i class="fa-sharp fa-solid fa-arrow-right"></i>&nbsp;Fund Transfer History</a>
                        <a href="#"><i class="fa-sharp fa-solid fa-arrow-right"></i>&nbsp;Fund Settlement</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="center__dashboard board">
            <canvas id="myChart2"></canvas>
        </div>
        <div class="right__dashboard">
            <div class="turnover board">
                <h2>Welcome,[[${user}]]</h2>
                <a th:href="@{/riskinfo}">
                    <div>
                        <p>Total investment</p>
                </a>
                <p>[[${totalInvestment}]]</p>
            </div>
            <div>
                <p>Total company</p>
                <p>[[${size}]]</p>
            </div>
            <div>
                <p>Total share</p>
                <p>[[${totalshare}]]</p>
            </div>

        </div>

        <div class="collateral__summary board">
            <h2 class="">MY COLLATERAL SUMMARY</h2>
            <h3 class="bold">Rs. <span id="amount"></span></h3>

            <div>
                <p>Collateral Utilized</p>
                <p>0</p>
            </div>
            <div>
                <p>Collateral Available</p>
                <p>0</p>
            </div>
            <input type="number" id="amount-input" placeholder="Enter amount" />
            <button id="payment-button">Load collateral</button>
        </div>
    </div>
    </div>
</section>

<!-- Footer -->
<footer>
	<footer th:insert="fragment/footer.html :: footer"></footer>

</footer>

    <!-- Fund Management Dropdown Script -->
    <script input th:inline="javascript">
			function fundManagement() {
				document.getElementById("fundManagement").classList.toggle("show");
			}

			// Extract labels and values from dataPoints		
			//var labels = dataPoints.map(dp => dp.label);
			//var values = dataPoints.map(dp => dp.value);

			document.addEventListener("DOMContentLoaded", function () {
				var canvas = document.getElementById("myChart2");

				if (canvas) {
					var ctx = canvas.getContext("2d");


					var companies =[[${companynamelist}]]; // Replace with your actual company names
					console.log(companies);
					var shares = [2, 3, 4] // Replace with your actual number of shares data
					var investments = [[${totalamountlist}]]; // Replace with your additional data

					// Chart data
					var chartData = {
						labels: companies,
						datasets: [
							{
								label: "investments",
								data: investments,
								type: 'line', // Bar chart for number of shares
								backgroundColor: "#007bff",
								borderWidth: 1
							},

						]
					};
					// Chart options
					var chartOptions = {
						responsive: true,
						scales: {
							y: {
								beginAtZero: true
							}
						}
					};

					// Create combination chart
					var myChart = new Chart(ctx, {
						type: 'line',
						data: chartData,
						options: chartOptions
					});

				}
			});
			
			
			// khalti payment gateway
			
			
        var config = {
            // replace the publicKey with yours
            "publicKey": "test_public_key_46b3052e00e145b5b2d988d17359b3a4",
            "productIdentity": "1234567890",
            "productName": "Dragon",
            "productUrl": "http://gameofthrones.wikia.com/wiki/Dragons",
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
                "SCT",
                ],
            "eventHandler": {
                onSuccess (payload) {
                    // hit merchant api for initiating verfication
                    console.log(payload);
                },
                onError (error) {
                    console.log(error);
                },
                onClose () {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
       
        var payButton = document.getElementById("payment-button");
        payButton.addEventListener("click", function () {
             var amountInput = document.getElementById("amount-input");
            var amount = amountInput.value;
               if (amount) {
                var amountInPaisa = amount * 100; // Convert amount from rupees to paisa
                config.amount = amountInPaisa; // Set the amount in the config object
                payButton.innerHTML = "Pay " + amount + " Rupees";
                var amountInput = document.getElementById("amount");
               amountInput.value = amount;
                checkout.show({popupMobile: true});
            } else {
                alert("Please enter the amount.");
            }
        });
            
           
		</script>
</body>
</html>
