
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sanolagani</title>

	<head th:replace="fragment/head.html :: headerfiles"></head>
	<link rel="stylesheet" href="css/dashboard.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
</head>

<body>
	<header class='container header__container' th:replace="fragment/header.html :: header"></header>
	<div class='full__width' th:insert="fragment/nav.html :: navbar"> </div>

	<!-- Dashboard -->
	<section class="dashboard">
		<div class=" dashboard__container">
			<div class="left__dashboard board">
				<div>
					<p><a th:href="@{/riskinfo}">Sanolagani Dashboard</a></p>
					<p><a href="#">My Information</a></p>
					<a href="#">My Investment</a>
					<div class="dropdown">
						<button onclick="fundManagement()" class="drop-btn">Fund Management</button>
						<div id="fundManagement" class="fundManagementContent">
							<a th:href="@{'/collateralsummery/'+${id}+'/'}"><i class="fa-sharp fa-solid fa-arrow-right"></i>&nbsp;Collateral History</a>
							<a th:href="@{'/fundhistory/'+${id}+'/'}"><i class="fa-sharp fa-solid fa-arrow-right"></i>&nbsp;Fund Transfer History</a>
							<a href="#"><i class="fa-sharp fa-solid fa-arrow-right"></i>&nbsp;Fund Settlement</a>
						</div>
					</div>
				</div>
			</div>
			<div class="center__dashboard board">
				<canvas id="myChart2"></canvas>
			</div>
			<div class="right__dashboard">
				<div class="turnover board">
					<h2>Welcome,[[${user}]]</h2>
						<div>
							<p>Total investment</p>
					<p>[[${totalInvestment}]]</p>
				</div>
				<div>
					<p>Total company</p>
					<p>[[${size}]]</p>
				</div>
				<div>
					<p>Total share</p>
					<p>[[${totalshare}]]</p>
				</div>

			</div>

			<div class="collateral__summary board">
				<h2 class="">MY COLLATERAL SUMMARY</h2>
				<h3 class="bold">Rs. <span id="amount"></span></h3>

				<div>
					<p>Collateral balance</p>
					<p>[[${totalcollateralamount}]]</p>
				</div>
				
				<div>
				<a th:href="@{/loadfund}">Load</a>
				<a href="">Refund</a>
				</div>
			</div>
		</div>
		</div>
	</section>

	<!-- Footer -->
	<footer>
		<footer th:insert="fragment/footer.html :: footer">

		</footer>

		<!-- Fund Management Dropdown Script -->
		<script input th:inline="javascript">
			function fundManagement() {
				document.getElementById("fundManagement").classList.toggle("show");
			}


			document.addEventListener("DOMContentLoaded", function () {
				var canvas = document.getElementById("myChart2");

				if (canvas) {
					var ctx = canvas.getContext("2d");


					var companies =[[${companynamelist}]]; // Replace with your actual company names
					console.log(companies);
					var investments = [[${totalamountlist}]]; // Replace with your additional data

					// Chart data
					var chartData = {
						labels: companies,
						datasets: [
							{
								label: "investments",
								data: investments,
								type: 'line', // Bar chart for number of shares
								backgroundColor: "#007bff",
								borderWidth: 1
							},

						]
					};
					// Chart options
					var chartOptions = {
						responsive: true,
						scales: {
							y: {
								beginAtZero: true
							}
						}
					};

					// Create combination chart
					var myChart = new Chart(ctx, {
						type: 'line',
						data: chartData,
						options: chartOptions
					});

				}
			});
	
		</script>
</body>
  
   
</html>