<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sanolagani</title>

	<head th:replace="fragment/head.html :: headerfiles"></head>
	<link rel="stylesheet" href="css/dashboard.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
</head>

<body>
	<header class='container header__container' th:replace="fragment/header.html :: header"></header>
		<div class='full__width' th:insert="fragment/nav.html :: navbar"> </div>
<section class="dashboard">
    <div class=" dashboard__container">
        <div class="left__dashboard board" th:insert="fragment/dashboard.html :: left-fragment"></div>
    </div>
        
    <center><h1 > InvestmentDetails</h1></center>
    <table id="customers">
        <tr>
            <th>Username</th>
            <th>amount</th>
            <th>transfer date</th>
            <th>company_id</th>
            <th>quantity</th>
            <th>status</th>
            <th>REFUNDABLE UNTIL</th>
            <th>action</th>
        </tr>
        <tr th:each="investment: ${investmentlist}">
            <td> <a th:text="${name}"></a></td>
            <td> <a th:text="${investment.amount}"></a></td>
        <td> <p th:text="${#temporals.format(investment.investment_date_time, 'yyyy-MM-dd') + ' ' + #temporals.format(investment.investment_date_time, 'HH:mm:ss')}"></p></td>
            <td>
                <p th:text="${investment.getCompany().getId()}"></p>
            </td>
            <td>
                <p th:text="${investment.quantity}"></p>
            </td>
            <td>
                <p th:text="${investment.status}"></p>
            </td>
        <td> <p th:text="${#temporals.format(investment.refundableUntil, 'yyyy-MM-dd') + ' ' + #temporals.format(investment.refundableUntil, 'HH:mm:ss')}"></p></td>

				<td th:if="${investment.status eq 'refundable'}">
                
                <button class="btn btn-danger"
                    th:onclick="|window.location.href='/user/tables/refund/${investment.id}'|">Refund</button>
                </td>
                <td th:unless="${investment.status eq 'refundable'}">time finish to refund or edit</td>
        </tr>
    </table>
</section>
</body>

</html>