<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
	
  <title>View Users</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/viewpage.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/admindashboard.css}"></head>
<body>
	
  <div class="dashboard">
    <div class="sidebar">
      <h2>Admin</h2>
      <ul th:insert="fragment/admin-dashboard.html :: dashboard-left"></ul>
    </div>
    <table>
        <tr>
            <th>company</th>
            <th>phone</th>
            <th>file</th>
            <th>time</th>
            <th>PPS</th>
            <th>Amount</th>
            <th>PAN</th>
            <th>Cit front</th>
            <th>Cit back</th>
            <th>Action</th>
        </tr>
        <tr th:each="detail: ${UnverfiedCompanies}">
            <td> <a th:text="${#strings.abbreviate(detail.companyname, 20)}"></a></td>
            <td> <a th:text="${detail.phnum}"></a></td>
            <td><a th:text="${#strings.abbreviate(detail.filename, 10)}"
                    th:href="@{D:\sanolagani\src\main\resources\images\{pan} (pan=${detail.pan_image_name}) }"></a></td>
            <td>
                <p th:text="${detail.timespanforraisingcapital}"></p>
            </td>
            <td>
                <p th:text="${detail.price_per_share}"></p>
            </td>
            <td>
                <p th:text="${detail.raisedcapital}"></p>
            </td>
            <td>
                <a th:text="${#strings.abbreviate(detail.pan_image_name, 15)}"
                    th:href="@{D:\sanolagani\src\main\resources\images\{pan} (pan=${detail.pan_image_name}) }"></a>
            </td>
            <td>
                <a th:text="${#strings.abbreviate(detail.citizenship_fname,15)}"
                    th:href="@{D:\sanolagani\src\main\resources\images\{pan} (pan=${detail.citizenship_fname}) }"></a>
            </td>
            <td>
                <a th:text="${#strings.abbreviate(detail.citizenship_bname, 15)}"
                    th:href="@{D:\sanolagani\src\main\resources\images\{pan} (pan=${detail.citizenship_bname}) }"> </a>
            </td>
            <td>
                <button type="button" class="button positive"
                    th:onclick="|window.location.href='/admin/managecompany/edit/save/${detail.id}'|">Add</button>
                <button type="button" class="button negative"
                    th:onclick="|window.location.href='/admin/managecompany/edit/${detail.id}'|">Delete</button>
            </td>
        </tr>
    </table>
</section>

</body>

</html>