<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sanolagani</title>
        <head th:replace="fragment/head.html :: headerfiles"></head>

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
<header class='container header__container' th:replace="fragment/header.html :: header"></header>
<div class='full__width' th:insert="fragment/nav.html :: navbar"> </div>


	<!-- Dashboard -->
	<section class="dashboard">
		<div class=" dashboard__container">
			<div class="left__dashboard board" th:insert="fragment/dashboard.html :: left-fragment"></div>
            <div class="my-info-center board">
                <div class="center__heading">
                    <div><h2>My Information</h2></div>
                </div>
                <hr>
                <!-- profile details -->
                <div class="general_detail">
                    <h2>[[${user.fname}+' '+${user.lname}]]</h2>
                    <hr>
                    <div class="general_profile">
                        <!-- profile details left -->
                        <div class="general_profile-left">
                            <div class="personal_detail">
                                <h3>Username: </h3>
                                <p>[[${user.fname}+'_'+${user.lname}]]</p>
                            </div>
                            <div class="personal_detail">
                                <h3>Address: </h3>
                                <p>[[${user.address}]]</p>
                            </div>
                            <div class="personal_detail">
                                <h3>Mobile: </h3>
                                <p>[[${user.phnum}]]</p>
                            </div>
                            <div class="personal_detail">
                                <h3>Email: </h3>
                                <p>[[${user.email}]]</p>
                            </div>
                            <div class="personal_detail">
                                <h3>Role: </h3>
                                <p>[[${user.role}]]</p>
                            </div>
                        </div>
                        <!-- profile details right -->
                        <div class="general_profile-left">
                            <div class="personal_detail">
                                <h3>PAN: </h3>
                                <p>[[${user?.getCompany()?.getPan_image_name()?: 'N/A'}]]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- collateral details -->
                <div class="general_detail">
                    <h2>Collateral</h2>
                    <hr>
                    <div class="general_profile">
                        <!-- collateral details left -->
                        <div class="general_profile-left">
                            <div class="personal_detail">
                                <h3>Total Investment: </h3>
                                <p>NPR <span>[[${totalInvestment}]]</span></p>
                            </div>
                            <div class="personal_detail">
                                <h3>Total Collateral: </h3>
                                <p>NPR <span>[[${user?.getCollateral()?.getCollateral_amount()?:'N/A'}]]</span></p>
                            </div>
                            <div>
                                <br>
                                <a th:href="@{/loadfund}" class="btn btn-primary">Load</a>
                                <a th:href="@{/refund/collateral}"class="btn">Refund</a> 
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </section>

        <!-- Footer -->
<footer>
	<footer th:insert="fragment/footer.html :: footer"></footer>

</footer>
        <!-- Fund Management Dropdown Script -->
        <script>
            function fundManagement(){
                document.getElementById("fundManagement").classList.toggle("show");
            }
        </script>
    </body>

</html>