<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/head.html :: headerfiles">


<body>
    <!-- main header -->
    <header class='container header__container' th:replace="fragment/header.html :: header">

    </header>

    <!-- OTP -->
    <section class="otp__section">
        <div class="container otp__container">
            <div class="otp__box">
                <h2>Validate OTP</h2>
                <div class="otp">
                    <hr>
                    <!-- <p class="error_otp">Invalid OTP</p> -->
                    <p class="otp_message">
                        The OTP has been sent to your gmail. Please enter the OTP you received to Validate.
                    </p>

                    <form th:action="@{/otpverify}" method="post">
                        <input class="otp__input" type="email" th:placeholder="email" name="email" th:value="${email}"
                            hidden readonly>
                        <input class="otp__input" type="number" placeholder="OTP" min="0" oninput="validity.valid||(value='')" name="otp">
                        <input type="submit" class="btn" value="Validate OTP">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer th:insert="fragment/footer.html :: footer"></footer>
</body>

</html>