<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/load_fund.css">

    <title>Sanolagani</title>

    <head th:replace="fragment/head.html :: headerfiles"></head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <header class='container header__container' th:replace="fragment/header.html :: header"></header>
    <div class='full__width' th:insert="fragment/nav.html :: navbar"> </div>


    <!-- Dashboard -->
    <!-- Dashboard -->
    <section class="dashboard">
        <div class=" dashboard__container">
            <!-- left dashboard -->
            <div class="left__dashboard board" th:replace="fragment/dashboard.html::left-fragment">
            </div>
            <!-- center dashboard -->
            <div class="center__load board">
                <form th:action="@{/user/refundCollateral}" method="post">
                    <div class="bank_row">
                        <label class="load-title" for="account_number">PHONE NUMBER <span
                                style="color: red">*</span></label>
                        <input class="load_input" type="number" id="account_number" min="9" th:value="${userphone}"
                            oninput="validity.valid||(value='')" readonly required>
                    </div>
                    <div class="bank_row">
                        <label class="load-title" for="refund_amount">AMOUNT <span style="color: red">*</span></label>
                        <input class="load_input" name="amount" type="number" id="refund_amount" min="1"
                            th:max="${totalcollateralamount}" oninput="validity.valid||(value='')" required>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Continue</button>
                        <button type="reset" class="btn">Reset</button>
                    </div>
                </form>


            </div>
            <!-- right dashboard -->
            <div class="right__dashboard">
                <!-- total collateral -->
                <div class="load board">
                    <div>
                        <p class="collateral-title">NPR &nbsp;<span>[[${totalcollateralamount}]]</span></p>
                        <p class="collateral-sub-tile">Total Collateral</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:insert="fragment/footer.html :: footer"></footer>



    <!-- Fund Management Dropdown Script -->
    <script>
        function manageFund() {
            document.getElementById("fundManagement").classList.toggle("show");
        }

    </script>
</body>

</html>