<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head.html :: headerfiles">
    <link rel="stylesheet" href="css/otp.css">
</head>

<body>
    <!-- main header -->
    <header class='container header__container'>
        <div>
            <h1><a href="/" class='logo hover_none'>Sanolagani</a> </h1>
        </div>
    </header>

    <!-- OTP -->
    <section class="otp__section">
        <div class="container otp__container">
            <div class="otp__box">
                <h2>Validate OTP</h2>
                <div class="otp">
                    <hr>
                    <!-- <p class="error_otp">Invalid OTP</p> -->
                    <p class="otp_message">
                        please enter your valid gmail id for the otp.
                    </p>

                    <form th:action="@{/resetpassword}" method="post">
                        <input class="otp__input" type="email" placeholder="email" name="email">
                        <input type="submit" class="btn" value="Send OTP">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container footer__container">
            <div class="first">
                <h1 class='logo'>Sanolagani</h1>
                <h5>&copy; all rights are reserved 2023</h5>
            </div>
            <div class="second">
                <h2>About Us</h2>
                <ul class='footer__list'>
                    <li><a href="#" class='about__link'>Our Team</a></li>
                    <li><a href="#" class='about__link'>Careers</a></li>
                    <li><a href="#" class='about__link'>Blog</a></li>
                </ul>
            </div>
            <div class="third">
                <h2>Wrok Together</h2>
                <ul class='footer__list'>
                    <li><a href="#" class='about__link'>Raise Capital</a></li>
                    <li><a href="#" class='about__link'>Refer a friend</a></li>
                    <li><a href="#" class='about__link'>Success stories</a></li>
                    <li><a href="#" class='about__link'>Partnership</a></li>
                </ul>
            </div>
            <div class="fourth">
                <h2>Need Help</h2>
                <ul class='footer__list'>
                    <li><a href="#" class='about__link'>Contact us</a></li>
                    <li><a href="#" class='about__link'>Need Help</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>