<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head.html :: headerfiles"></head>

<body>
    <header class='container header__container'>
        <div>
            <h1><a href="/" class='logo hover_none'>Sanolagani</a> </h1>
        </div>
    </header>
    <hr>
    <section>
        <div class="container login__container">
            <div class="login__left">
                <img th:src="@{'/photos/register.png'}" alt="image" />
            </div>
            <div class="login__right">
                <div class="heading__background">
                    <a href="user_login.html">
                        <h2>Login</h2>
                    </a>
                    <a href="user_signup.html" class='active'>
                        <h2>Sign Up</h2>
                    </a>
                </div>
                <form th:action="@{/register}" method="post">
                    <input class='input__box' type="text`" placeholder='First Name' name="fname" required />
                    <input class='input__box' type="text" placeholder='Last Name' name="lname" required />
                    <input class='input__box' type="email" placeholder='Email' name="email" required />
                    <input class='input__box' type="number" placeholder='Mobile Number' name="mobile" required />
                    <input class='input__box' type="text`" placeholder='Address' name="address" required />
                    <input class='input__box' type="password" placeholder='Password' name="password" required />
                    <input class='input__box' type="password" placeholder='Password' name="c_password" required />
                    <input class='btn btn__login' type="submit" value='Sign Up' required />
                </form>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container footer__container">
            <div class="first">
                <h1 class='logo'>Sanolagani</h1>
                <h5>&copy; all rights are reserved 2023</h5>
            </div>
            <div class="second">
                <h2>About Us</h2>
                <ul class='footer__list'>
                    <li><a href="#" class='about__link'>Our Team</a></li>
                    <li><a href="#" class='about__link'>Careers</a></li>
                    <li><a href="#" class='about__link'>Blog</a></li>
                </ul>
            </div>
            <div class="third">
                <h2>Wrok Together</h2>
                <ul class='footer__list'>
                    <li><a href="#" class='about__link'>Raise Capital</a></li>
                    <li><a href="#" class='about__link'>Refer a friend</a></li>
                    <li><a href="#" class='about__link'>Success stories</a></li>
                    <li><a href="#" class='about__link'>Partnership</a></li>
                </ul>
            </div>
            <div class="fourth">
                <h2>Need Help</h2>
                <ul class='footer__list'>
                    <li><a href="#" class='about__link'>Contact us</a></li>
                    <li><a href="#" class='about__link'>Need Help</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>