<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="css/LoginSignup.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/Header.css">
<link rel="stylesheet" type="text/css" href="css/Footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<header class='container header__container'>
		<div>
			<h1>
				<a href="/" class='logo hover_none'>Sanolagani</a>
			</h1>
		</div>
		<div class='search'>
            <form method="get">
                <input type="search" name="search" placeholder='Search' id="" />
                <button type="submit" class="search__icon"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
	</header>
	<section>
		<div class="container login__container">
			<div class="login__left">
				<img th:src="@{'photos/register.png'}" alt="image" />
			</div>
			<div class="login__right">
				<div th:if="${param.error}" class="alert alert-error text-danger">
					Invalid username or password.</div>
				<div class="heading__background">
					<a th:href="@{/login}" class='active'><h2>Login</h2></a> <a
						th:href="@{/register}"><h2>Sign Up</h2></a>
				</div>
				<form th:action="@{/processlogin}" method="post">
					<input class='input__box' type="email" placeholder='Email'
						name="email" required /> <input class='input__box' type="password"
						placeholder='Password' name="password" required /> <input
						class='btn btn__login' type="submit" value='Log In' required />
				</form>
				<h5 class='forgot__password'>
					<a href="#">Forgot Password?</a>
				</h5>
			</div>
		</div>
	</section>

	    <!-- Footer -->
		<footer>
			<div class="container footer__container">
				<div class="first">
					<h1 class='logo'>Sanolagani</h1>
					<h5>&copy; all rights are reserved 2023</h5>
				</div>
				<div class="second">
					<h2>About Us</h2>
					<ul class='footer__list'>
						<li><a href="#" class='about__link'>Our Team</a></li>
						<li><a href="#" class='about__link'>Careers</a></li>
						<li><a href="#" class='about__link'>Blog</a></li>
					</ul>
				</div>
				<div class="third">
					<h2>Wrok Together</h2>
					<ul class='footer__list'>
						<li><a href="#" class='about__link'>Raise Capital</a></li>
						<li><a href="#" class='about__link'>Refer a friend</a></li>
						<li><a href="#" class='about__link'>Success stories</a></li>
						<li><a href="#" class='about__link'>Partnership</a></li>
					</ul>
				</div>
				<div class="fourth">
					<h2>Need Help</h2>
					<ul class='footer__list'>
						<li><a href="#" class='about__link'>Contact us</a></li>
						<li><a href="#" class='about__link'>Need Help</a></li>
					</ul>
				</div>
			</div>
		</footer>
   
</body>
</html>