<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head.html :: headerfiles"></head>

<body>
    <header class='container header__container'>
        <div>
            <h1><a href="/" class='logo hover_none'>Sanolagani</a> </h1>
        </div>
    </header>
    <hr>
    <section>
        <div class="container login__container">
            <div class="login__left">
                <img th:src="@{'/images/sanolagani logo.png'}" alt="image" />
            </div>
            <div class="login__right">
                <!--<span id="error-msg"></span> --> 
                <div class="heading__background">
                    <a href="user_login.html">
                        <h2>Login</h2>
                    </a>
                    <a href="user_signup.html" class='active'>
                        <h2>Sign Up</h2>
                    </a>
                </div>
                <p id="error-msg"></p>
                <form th:action="@{/register}" method="post" id="signup-form">
                    <input class='input__box' type="text`" placeholder='First Name' name="fname" id="fname" />
                    <input class='input__box' type="text" placeholder='Last Name' name="lname" id="lname" />
                    <input class='input__box' type="email" placeholder='Email' name="email" />
                    <input class='input__box' type="text" placeholder='Mobile Number' name="phnum" id="mobile" />

                    <input class='input__box' type="text`" placeholder='Address' name="address" id="address" />
                    <!-- <span id="password-error"> ** password</span> -->
                    <input class='input__box' type="password" placeholder='Password' id="password" name="password" />
                    <input class='input__box' type="password" placeholder='Confirm Password' id="cpassword" name="c_password" />
                    <span id="message" style="color:red; font-size:12px; padding-top: 0px; background-color: transparent;">&nbsp;</span>
                    <input class='btn btn-primary btn__login' type="submit" value='Sign Up' id="submitBtn"/>
                </form>
            </div>
        </div>
    </section>
    <footer th:insert="fragment/footer.html :: footer"></footer>

    <!-- <script th:src="@{/js/valiate.js}" type="text/javascript"></script> -->
    <script>
        var signup = document.getElementById("signup-form");
        var fname = document.getElementById('fname').value;
        var lname = document.getElementById('lname').value;
        var mobile = document.getElementById('mobile').value;
        var address = document.getElementById('address').value;
        var password = document.getElementById('password');
        var cpassword = document.getElementById('cpassword');
        var submitBtn = document.getElementById("submit");
        var error = document.getElementById("message");

        cpassword.addEventListener("keyup", matchPassword);


        function matchPassword() {  
            error.innerText = "Enter identical password on both fields.";
            let pass = password.value;
            let cpass = cpassword.value;
            console.log(pass);
            if (pass === cpass) {
                error.innerText = " ";
                submitBtn.disabled = false;
            }
            else {
                submitBtn.disabled = true;
            }
        }

        signup.addEventListener('submit', e => {
            e.preventDefault();
            if(registerValidate()==true){
                signup.submit();
            }
        });

        registerValidate = ()=>{
            let pass = password.value;
            let cpass = cpassword.value;

            console.log("inside register validate");
            let fnamecheck = /^[a-zA-Z]{3,}$/;
            let lnamecheck = /^[a-zA-Z]{3,}$/;
            let mobilecheck = /^9[678]\d{8}$/;
            let addresscheck = /^[a-zA-Z0-9\s,-]{3,}$/;
            let passwordcheck = /^(?=.*[0-9])(?=.*[!@#$%^*])[a-zA-Z0-9!@#$%^&*]{8,16}$/;
            
            document.getElementById('error-msg').innerHTML = " ";
            if(fnamecheck.test(fname)){
                document.getElementById('error-msg').innerHTML = " ";
            }else{
                document.getElementById('error-msg').innerHTML = "** Enter valid first name";
                return false;
            }

            if(lnamecheck.test(lname)){
                document.getElementById('error-msg').innerHTML = " ";
            }else{
                document.getElementById('error-msg').innerHTML = "** Enter valid lastname";
                return false;
            }

            if(mobilecheck.test(mobile)){
                document.getElementById('error-msg').innerHTML = " ";
            }else{
                document.getElementById('error-msg').innerHTML = "** Enter valid mobile number";
                return false;
            }

            if(addresscheck.test(address)){
                document.getElementById('error-msg').innerHTML = " ";
            }else{
                document.getElementById('error-msg').innerHTML = "** Enter valid address";
                return false;
            }

            if(pass.length < 8){
                document.getElementById('error-msg').innerHTML = "** Password must be atleast 8 characters";
                return false;
            }

            if(passwordcheck.test(pass)){
                document.getElementById('error-msg').innerHTML = " ";
            }else{
                document.getElementById('error-msg').innerHTML = "** A valid must contain atleast 1 number and 1 special character";
                return false;
            }


            if(pass !== cpass){
                document.getElementById('error-msg').innerHTML = "** Password Not matched";
                return false;
            }
            
            return true;
        };
    </script>
    
</body>

</html>